---
import { Icon } from "astro-icon/components";
import type { GitHubRepo } from "../types/github";

// 2 weeks (60 secs * 60 mins * 24 hours * 14 days)
const cacheDuration = 60 * 60 * 24 * 14;

// 1 hour (60 secs * 60 mins * 5 hours)
const staleWhileRevalidatingDuration = 60 * 60 * 1;
Astro.cache.set({
    maxAge: cacheDuration,
    swr: staleWhileRevalidatingDuration,
});

// GitHub projects fetching
const username = "ezerssss";
const githubApi = new URL(`https://api.github.com/users/${username}/repos`);

const response = await fetch(githubApi);

if (!response.ok) {
    console.error(response);
    throw new Error("Failed to fetch GitHub API.");
}

const data = (await response.json()) as GitHubRepo[];

// Descending order (Most recent first)
const projects = data.toSorted((a, b) =>
    b.created_at.localeCompare(a.created_at),
);
---

<section id="projects" class="w-fit space-y-5">
    <h2 class="font-semibold text-lg">Projects / Blogs</h2>

    <div class="space-y-10">
        <a
            class="block"
            href="https://github.com/ezerssss/sayzo#sayzo"
            target="_blank"
        >
            <article class="group cursor-pointer w-fit">
                <time class="flex gap-2 text-[12px] text-white/55">
                    <p>|</p>
                    <p>July 16, 2026</p>
                </time>

                <div class="mt-1 mb-0.5 flex gap-1 items-center">
                    <Icon name="mdi:book" size={20} />

                    <p class="font-bold">
                        My low maintenance self updating portfolio website
                    </p>
                </div>

                <p class="text-white/55 text-sm">
                    Check out how I created this very website using Astro and a
                    simple GitHub api fetch.
                </p>

                <p
                    class="text-[12px] text-[#1db6a5] mt-3 group-hover:underline"
                >
                    Click to read more
                </p>
            </article>
        </a>

        {
            projects.map((project) => (
                <a
                    class="block"
                    href={`${project.html_url}#${project.name}`}
                    target="_blank"
                >
                    <article class="group cursor-pointer w-fit">
                        <time class="flex gap-2 text-[12px] text-white/55">
                            <p>|</p>
                            <p>
                                {new Date(
                                    project.created_at,
                                ).toLocaleDateString("en-US", {
                                    month: "long",
                                    day: "numeric",
                                    year: "numeric",
                                })}
                            </p>
                        </time>

                        <div class="mt-1 mb-0.5 flex gap-1 items-center">
                            <Icon name="mdi:github" size={20} />

                            <p class="font-bold capitalize">{project.name}</p>
                        </div>

                        <p class="text-white/55 text-sm">
                            {project.description}
                        </p>

                        <p class="text-[12px] text-[#1db6a5] mt-3 group-hover:underline">
                            See more in github
                        </p>
                    </article>
                </a>
            ))
        }
    </div>
</section>
